<h1><%= @company.name %></h1>

<%= render @company %>

<h2>Reviews</h2>

<div id="new-review-form">
  <%= render partial: 'reviews/review_form', locals: { review: @company.reviews.build } %>
</div>

<br>

<div id="reviews-list">
  <% if @reviews.any? %>
    <% @reviews.each do |review| %>
      <%= render review %>
    <% end %>
  <% else %>
    <p>No reviews found.</p>
  <% end %>
</div>

<% if current_user.admin? %>
  <div>
    <%= link_to 'Edit this company', edit_company_path(@company) %> |
    <%= button_to 'Destroy this company', @company, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
<% end %>
