<p style="color: green"><%= notice %></p>

<h1><%= @company.name %></h1>
<p><strong>URL:</strong> <%= link_to @company.url, @company.url %></p>
<p><strong>Created At:</strong> <%= @company.created_at %></p>

<%= render @company %>

<h2>Reviews</h2>
<div class="reviews-list">
  <% if @reviews.any? %>
    <% @reviews.each do |review| %>
      <div class="review-card">
        <p class="review-title"><strong>Title:</strong> <%= review.title %></p>
        <p class="review-body"><strong>Body:</strong> <%= review.body %></p>
        <p class="review-author"><strong>Author:</strong> <%= review.author.username %></p>
      </div>
    <% end %>
  <% else %>
    <p>No reviews found.</p>
  <% end %>
</div>

<div>
  <%= link_to "Edit this company", edit_company_path(@company) %> |
  <%= link_to "Back to companies", companies_path %>

  <%= button_to "Destroy this company", @company, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
