<%= form_with(model: review, data: { turbo: true }, html: { class: 'edit-review-form d-none', id: "edit_review_#{review.id}" }) do |form| %>
  <% if review.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>
      <ul>
        <% review.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :author_id, value: current_user.id %>
  <%= form.hidden_field :status, value: false %>

  <%= form.hidden_field :reviewable_type, value: review.reviewable_type %>
  <%= form.hidden_field :reviewable_id, value: review.reviewable_id %>

  <div class="mb-3">
    <%= form.label :title, 'Title:', class: 'form-label', for: "review_title_#{review.id}" %>
    <%= form.text_field :title, class: 'form-control', id: "review_title_#{review.id}" %>
  </div>

  <div class="mb-3">
    <%= form.label :body, 'Review Content:', class: 'form-label', for: "review_body_#{review.id}" %>
    <%= form.text_area :body, class: 'form-control', rows: 4, id: "review_body_#{review.id}" %>
  </div>

  <div>
    <%= form.submit 'Submit', class: 'btn btn-primary' %>
  </div>
<% end %>
