<%= form_with(model: review, data: { turbo: true }) do |form| %>
  <% if review.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>
      <ul>
        <% review.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div style="display: none">
    <%= form.hidden_field :author_id, value: current_user.id %>
  </div>

  <div class="mb-3">
    <%= form.label :reviewable_type, 'Choose Type:', class: 'form-label' %>
    <div class="form-check">
      <%= form.radio_button :reviewable_type, 'Company', class: 'form-check-input', id: 'company', checked: true %>
      <%= form.label :reviewable_type, 'Company', class: 'form-check-label', for: 'company' %>
    </div>
    <div class="form-check">
      <%= form.radio_button :reviewable_type, 'Product', class: 'form-check-input', id: 'product' %>
      <%= form.label :reviewable_type, 'Product', class: 'form-check-label', for: 'product' %>
    </div>
  </div>

  <div class="mb-3">
    <%= form.label :reviewable_id, 'Select Item:', class: 'form-label' %>
    <%= form.select :reviewable_id, options_for_select(@items.map { |item| [item.name, item.id] }), {}, class: 'form-select', id: 'review_reviewable_id' %>
  </div>

  <div class="mb-3">
    <%= form.label :title, 'Title:', class: 'form-label' %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :body, 'Review Content:', class: 'form-label' %>
    <%= form.text_area :body, class: 'form-control', rows: 4 %>
  </div>

  <div class="mb-3 form-check">
    <%= form.check_box :status, class: 'form-check-input', id: 'status' %>
    <%= form.label :status, 'Published', class: 'form-check-label', for: 'status' %>
  </div>

  <div>
    <%= form.submit 'Submit', class: 'btn btn-primary' %>
  </div>
<% end %>
