<div id="<%= dom_id review %>" class="review-card">
  <div class="review-header">
    <div class="review-author">
      <%= review.author.username %>
    </div>
    <div class="review-status">
      <%= review.status ? 'Verified' : 'Not-Verified' %>
    </div>
  </div>

  <div class="review-content">
    <% if %>
      <div class="review-<%= review.reviewable_type %>">
        <strong><%= review.reviewable_type %>:</strong>
        <%= review.reviewable.name %>
      </div>
    <% end %>
    <div class="review-title">
      <strong>Title:</strong>
      <%= review.title %>
    </div>
    <div class="review-body">
      <strong>Body:</strong>
      <%= review.body %>
    </div>
  </div>
</div>
