<div id="<%= dom_id review %>">
  <p>
    <strong>Author:</strong>
    <%= review.author_id %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= review.product_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= review.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= review.body %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= review.status %>
  </p>

</div>
