<p style="color: green"><%= notice %></p>

<%= render @review %>

<div>
  <%= link_to "Back", :back %>
</div>

<% if current_user.admin? || current_user.id == @review.author_id %>
  <div>
    <%= link_to "Edit this review", edit_review_path(@review) %> |
    <%= button_to "Destroy this review", @review, method: :delete %>
  </div>
<% end %>
